<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zks.dao.BeanActivityMapper" >
  <resultMap id="BaseResultMap" type="com.zks.model.BeanActivity" >
    <id column="activityId" property="activityid" jdbcType="INTEGER" />
    <result column="activityRange" property="activityrange" jdbcType="VARCHAR" />
    <result column="activityName" property="activityname" jdbcType="VARCHAR" />
    <result column="activityIntroduction" property="activityintroduction" jdbcType="VARCHAR" />
    <result column="activityStartTime" property="activitystarttime" jdbcType="TIMESTAMP" />
    <result column="activityEndTime" property="activityendtime" jdbcType="TIMESTAMP" />
    <result column="activityReleaseTime" property="activityreleasetime" jdbcType="TIMESTAMP" />
    <result column="activityDeadLine" property="activitydeadline" jdbcType="TIMESTAMP" />
    <result column="activityPalce" property="activitypalce" jdbcType="INTEGER" />
    <result column="associationsId" property="associationsid" jdbcType="INTEGER" />
    <result column="departmentId" property="departmentid" jdbcType="INTEGER" />
    <result column="activitiesApplicationTime" property="activitiesapplicationtime" jdbcType="TIMESTAMP" />
    <result column="activitiesApplicationState" property="activitiesapplicationstate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    activityId, activityRange, activityName, activityIntroduction, activityStartTime,
    activityEndTime, activityReleaseTime, activityDeadLine, activityPalce, associationsId,
    departmentId, activitiesApplicationTime, activitiesApplicationState
  </sql>
  <select id="selectActivity" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from activity
    where activityId = #{activityid,jdbcType=INTEGER}
  </select>

  <select id="selectAllActivity" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from activity
  </select>

  <select id="searchActivity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from activity
    where activityName like #{activityName,jdbcType=VARCHAR}
  </select>

  <select id="selectActivityByState" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from activity
    where activitiesApplicationState = #{activitiesApplicationState,jdbcType=VARCHAR}
  </select>

  <select id="selectActivityByAssociation" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from activity
    where associationsId = #{associationsId,jdbcType=INTEGER}
  </select>

  <select id="selectActivityByDepartment" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from activity
    where departmentId = #{departmentId,jdbcType=INTEGER}
  </select>

  <select id="selectActivityByPlace" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from activity
    where activityPalce = #{activityPalce,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where activityId = #{activityid,jdbcType=INTEGER}
  </delete>

  <insert id="insertActivity" parameterType="com.zks.model.BeanActivity" >
    insert into activity (activityId, activityRange, activityName,
      activityIntroduction, activityStartTime,
      activityEndTime, activityReleaseTime,
      activityDeadLine, activityPalce, associationsId,
      departmentId, activitiesApplicationTime,
      activitiesApplicationState)
    values (#{activityid,jdbcType=INTEGER}, #{activityrange,jdbcType=VARCHAR}, #{activityname,jdbcType=VARCHAR},
      #{activityintroduction,jdbcType=VARCHAR}, #{activitystarttime,jdbcType=TIMESTAMP},
      #{activityendtime,jdbcType=TIMESTAMP}, #{activityreleasetime,jdbcType=TIMESTAMP},
      #{activitydeadline,jdbcType=TIMESTAMP}, #{activitypalce,jdbcType=INTEGER}, #{associationsid,jdbcType=INTEGER},
      #{departmentid,jdbcType=INTEGER}, #{activitiesapplicationtime,jdbcType=TIMESTAMP},
      #{activitiesapplicationstate,jdbcType=VARCHAR})
  </insert>

  <update id="updateActivity" parameterType="com.zks.model.BeanActivity" >
    update activity
    set activityRange = #{activityrange,jdbcType=VARCHAR},
      activityName = #{activityname,jdbcType=VARCHAR},
      activityIntroduction = #{activityintroduction,jdbcType=VARCHAR},
      activityStartTime = #{activitystarttime,jdbcType=TIMESTAMP},
      activityEndTime = #{activityendtime,jdbcType=TIMESTAMP},
      activityReleaseTime = #{activityreleasetime,jdbcType=TIMESTAMP},
      activityDeadLine = #{activitydeadline,jdbcType=TIMESTAMP},
      activityPalce = #{activitypalce,jdbcType=INTEGER},
      associationsId = #{associationsid,jdbcType=INTEGER},
      departmentId = #{departmentid,jdbcType=INTEGER},
      activitiesApplicationTime = #{activitiesapplicationtime,jdbcType=TIMESTAMP},
      activitiesApplicationState = #{activitiesapplicationstate,jdbcType=VARCHAR}
    where activityId = #{activityid,jdbcType=INTEGER}
  </update>

</mapper>
