<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zks.dao.BeanRecruitSignMapper" >
  <resultMap id="BaseResultMap" type="com.zks.model.BeanRecruitSign" >
    <id column="recruitSignId" property="recruitsignid" jdbcType="INTEGER" />
    <result column="recruitSignTime" property="recruitsigntime" jdbcType="TIMESTAMP" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="associationsId" property="associationsid" jdbcType="INTEGER" />
    <result column="recruitSignContent" property="recruitSignContent" jdbcType="VARCHAR" />
    <result column="recruitSignApplicationState" property="recruitSignApplicationState" jdbcType="VARCHAR" />
    <collection property="association" ofType="com.zks.model.BeanAssociations" javaType="java.util.ArrayList">
      <id column="associationsId" property="associationsid" jdbcType="INTEGER" />
      <result column="associationsName" property="associationsname" jdbcType="VARCHAR" />
      <result column="associationsTime" property="associationstime" jdbcType="TIMESTAMP" />
      <result column="associationsType" property="associationstype" jdbcType="VARCHAR" />
      <result column="associationsIntroduction" property="associationsintroduction" jdbcType="VARCHAR" />
      <result column="associationsNumber" property="associationsnumber" jdbcType="INTEGER" />
      <result column="associationsLeader" property="associationsleader" jdbcType="VARCHAR" />
      <result column="associationsApplicationTime" property="associationsapplicationtime" jdbcType="TIMESTAMP" />
      <result column="associationsApplicationState" property="associationsapplicationstate" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap_association" type="com.zks.model.BeanAssociations" >
    <id column="associationsId" property="associationsid" jdbcType="INTEGER" />
    <result column="associationsName" property="associationsname" jdbcType="VARCHAR" />
    <result column="associationsTime" property="associationstime" jdbcType="TIMESTAMP" />
    <result column="associationsType" property="associationstype" jdbcType="VARCHAR" />
    <result column="associationsIntroduction" property="associationsintroduction" jdbcType="VARCHAR" />
    <result column="associationsNumber" property="associationsnumber" jdbcType="VARCHAR" />
    <result column="associationsLeader" property="associationsleader" jdbcType="VARCHAR" />
    <result column="associationsApplicationTime" property="associationsapplicationtime" jdbcType="TIMESTAMP" />
    <result column="associationsApplicationState" property="associationsapplicationstate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap_member" type="com.zks.model.BeanMember" >
    <id column="memberId" property="memberid" jdbcType="INTEGER" />
    <result column="memberPost" property="memberpost" jdbcType="VARCHAR" />
    <result column="memberTime" property="membertime" jdbcType="TIMESTAMP" />
    <result column="memberIntroduction" property="memberintroduction" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="associationsId" property="associationsid" jdbcType="INTEGER" />
    <result column="departmentId" property="departmentid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    recruitSignId, recruitSignTime, userId, associationsId, recruitSignContent, recruitSignApplicationState
  </sql>
  <sql id="Base_Column_List_association" >
    associationsId, associationsName, associationsTime, associationsType, associationsIntroduction,
    associationsNumber, associationsLeader, associationsApplicationTime, associationsApplicationState
  </sql>
  <sql id="Base_Column_List_member" >
    memberId, memberPost, memberTime, memberIntroduction, userId, associationsId,departmentId
  </sql>
  <select id="selectAllRecruitSign" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from recruitsign
  </select>
  <select id="selectResult" resultMap="BaseResultMap"  >
    select *
    from recruitsign
    where userId = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectRecruitSignByUserAndAssc" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from recruitsign
    where associationsId in(select associationsId from associations
    where associationsLeader =#{associationsLeader,jdbcType=VARCHAR})
  </select>
  <select id="selectRecruitSignBySignid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from recruitsign
    where recruitSignId = #{recruitSignId,jdbcType=INTEGER}
  </select>
  <select id="selectMemberBySignid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List_member" />
    from member
    where userId in(select userId from recruitsign where recruitSignId =#{recruitSignId,jdbcType=INTEGER})
  </select>
  <select id="selectMemberByUid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List_member" />
    from member
    where userId =#{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectMemberByMid" resultMap="BaseResultMap_member" >
    select
    <include refid="Base_Column_List_member" />
    from member
    where memberId =#{memberId,jdbcType=INTEGER}
  </select>
  <select id="selectContent" resultMap="BaseResultMap" >
    select recruitSignContent
    from recruitSign
    where recruitSignId =#{recruitSignId,jdbcType=INTEGER}
  </select>
  <select id="selectAssociation_test" resultMap="BaseResultMap_association" >
    select
    <include refid="Base_Column_List_association" />
    from associations
    where associationsId = #{associationsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recruitsign
    where recruitSignId = #{recruitsignid,jdbcType=INTEGER}
  </delete>
  <insert id="insertRecruit" parameterType="com.zks.model.BeanRecruitSign" >
    insert into recruitsign (recruitSignTime,
      userId, associationsId, recruitSignContent, recruitSignApplicationState)
    values (#{recruitsigntime,jdbcType=TIMESTAMP},
      #{userid,jdbcType=VARCHAR}, #{associationsid,jdbcType=INTEGER},
      #{recruitSignContent,jdbcType=VARCHAR}, #{recruitSignApplicationState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zks.model.BeanRecruitSign" >
    insert into recruitSign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recruitsignid != null" >
        recruitSignId,
      </if>
      <if test="recruitsigntime != null" >
        recruitSignTime,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="associationsid != null" >
        associationsId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recruitsignid != null" >
        #{recruitsignid,jdbcType=INTEGER},
      </if>
      <if test="recruitsigntime != null" >
        #{recruitsigntime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="associationsid != null" >
        #{associationsid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zks.model.BeanRecruitSign" >
    update recruitSign
    <set >
      <if test="recruitsigntime != null" >
        recruitSignTime = #{recruitsigntime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="associationsid != null" >
        associationsId = #{associationsid,jdbcType=INTEGER},
      </if>
    </set>
    where recruitSignId = #{recruitsignid,jdbcType=INTEGER}
  </update>
  <update id="updateRecruitSign" parameterType="com.zks.model.BeanRecruitSign" >
    update recruitSign
    set  recruitSignApplicationState = #{recruitSignApplicationState,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateAssociation_member" parameterType="com.zks.model.BeanAssociations" >
    update associations
    set  associationsNumber = #{associationsnumber,jdbcType=INTEGER}
    where associationsId = #{associationsid,jdbcType=INTEGER}
  </update>
  <update id="updateMemberDepartment" parameterType="com.zks.model.BeanMember" >
    update member
    set  departmentid = #{departmentid,jdbcType=INTEGER}
    where memberid = #{memberid,jdbcType=INTEGER}
  </update>
  <insert id="insertMember_test" parameterType="com.zks.model.BeanMember" >
    insert into member (memberPost, memberTime,
      memberIntroduction, userId, associationsId, departmentId)
    values (#{memberpost,jdbcType=VARCHAR}, #{membertime,jdbcType=TIMESTAMP},
      #{memberintroduction,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{associationsid,jdbcType=INTEGER},
      #{departmentid,jdbcType=INTEGER}
      )
  </insert>
</mapper>
