<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zks.dao.BeanManagerMapper" >
  <resultMap id="BaseResultMap" type="com.zks.model.BeanManager" >
    <id column="managerId" property="managerid" jdbcType="VARCHAR" />
    <result column="managerPwd" property="managerpwd" jdbcType="VARCHAR" />
    <result column="managerName" property="managername" jdbcType="VARCHAR" />
    <result column="managerPalce" property="managerpalce" jdbcType="VARCHAR" />
    <result column="managerTel" property="managertel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    managerId, managerName, managerPalce, managerTel
  </sql>
  <select id="selectManager" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where managerId = #{managerid,jdbcType=VARCHAR}
  </select>
  <update id="updateManager" parameterType="com.zks.model.BeanManager" >
    update manager
    set managerPwd = #{managerpwd,jdbcType=VARCHAR},
      managerName = #{managername,jdbcType=VARCHAR},
      managerPalce = #{managerpalce,jdbcType=VARCHAR},
      managerTel = #{managertel,jdbcType=VARCHAR}
    where managerId = #{managerid,jdbcType=VARCHAR}
  </update>
</mapper>